
    * {
      margin: 0;
      padding: 0;
    }
    body {
      background-color: #0a0f24;
      color: #ccd6f6;
    }
    nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      height: 80px;
      background-color: #1e2546;
    }
    nav ul {
      display: flex;
      justify-content: center;
    }
    
    nav ul li {
     list-style: none;
      margin: 0 23px;
      
      color: white;
    }
    nav ul li a {
      text-decoration: none;
    
      color: white;
    }
    nav ul li a:hover {
      color: rgb(174, 174, 231);
      font-size: 1rem;
    }
    .left {
      font-size: 1.5rem;
    }
    .first-section {
      display: flex;
      justify-content: space-around;
      margin: 100px 0;
      align-items: center;
    }
    .first-section > div {
      width: 30%;
    }
    .left-section {
      font-size: 3rem;
      padding: 50px 0;
    }
  
     .left-section .btn {
    background-color: rgb(44, 3, 44);
    
    color: #ccd6f6;
    border-radius: 6px;
    border: 2px solid white;
    font-size: 30px;
      border-top-left-radius: 12px;
      border-top-right-radius:12px ;
      border-bottom-left-radius:12px ;
      border-bottom-right-radius:12px ;
    cursor: pointer;
    }
    .left-section .butoon{
      padding: 23px  ;
      

    }
    .right-section img {
      width: 400px;
      height: 400px;
    }
    .purpol {
      color: rgb(157, 100, 211);
    }
    .gray{

           color: rgb(157, 100, 211);
    }
    #element{
        color: rgb(157, 100, 211);  
    }
    .second-section{
        max-width: 80vw;
        margin: auto;
        height: 80vh;
    }
    
    .style{
      margin:40px 0px;
      
    }
    .second-section h1{
      font-size: 1.9rem;
    }
   .second-section .box{
        background-color: white;
       width: 122vh;
       height: 1px;
       margin: 60px 0;
       margin-left: 90px;
       display: flex;
    }
    .second-section .verticle{
      height: 170px;
      width: 2px;
      background-color: white;
      margin: 0 115px;

    }
    .image-top{
      width: 23px;
     position: relative;
     top: -100;
     left: -9;

    }
    .verticle-title{
position: relative;
margin-bottom: -2px;
margin-left: 30px;
top: 0px;
width: 160px;

       
    }
    .verticle-decs{
      position: relative;
      margin-left: 30px;
      top: 15px;
      color: gray;
      width: 150px;
    
      font-size: 9px;
    }
    footer{
      background-color: rgb(21, 21, 44);
  
    }
    .footer{
      display: flex;
      padding: 23px 123px;
      justify-content: space-evenly;

    }
    .footer ul{
      list-style: none;

    }
    .footer >div{
      width: 233px;
    }
    .footer-text-center{
      text-align: center;
      color: gray;
      padding: 12px 0;
    }
    .third-section{
       max-width: 80vw;
        margin: auto;
        height: 80vh;
        margin-bottom: 10px;
           
    }

.third-section .style{
    margin:40px 0px;

}
    
    .third-section h1{
 font-size: 1.9rem;


    }
